#### Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score, f1_score, roc_curve, confusion_matrix
from imblearn.over_sampling import SMOTE  # for handlinG imbalance if needed

import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv('/content/drive/MyDrive/AML/Capstone Group Project/ihm_aki.csv')

In [5]:

# Basic information about the dataset
print("=== DATASET SHAPE ===")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
print("\n")

print("=== FIRST 5 ROWS ===")
print(df.head())
print("\n")

print("=== LAST 5 ROWS ===")
print(df.tail())
print("\n")

print("=== COLUMN NAMES ===")
print(df.columns.tolist())
print("\n")

=== DATASET SHAPE ===
Rows: 3550, Columns: 36


=== FIRST 5 ROWS ===
   Unnamed: 0    age  gender_F  gender_M  bic_max  bic_mean  bic_min  \
0           0  74.63         1         0     40.0     34.62     30.0
1           1  60.12         1         0     34.0     28.94     24.0
2           2  64.12         1         0     26.0     24.07     21.0
3           4  54.46         0         1     34.0     30.98     26.0
4           5  78.22         0         1     29.6     23.10     18.0

   bilirubin  bp_max  bp_mean  ...  pot_mean  pot_min  sod_max  sod_mean  \
0        0.4  154.63   123.28  ...      3.85     3.30   143.50    141.50
1        0.2  113.12   104.68  ...      3.76     2.75   145.00    141.21
2        0.3  126.62   108.91  ...      3.86     3.50   145.00    140.86
3        1.0  151.38   114.38  ...      4.17     3.60   147.50    140.43
4        1.0  166.26   144.62  ...      4.10     3.40   150.25    141.22

   sod_min   temp  wbc_max  wbc_mean  wbc_min  IHM
0    139.0    NaN    13.70      9.20      6.4    0
1    139.0  38.04    21.30     17.69     14.4    0
2    138.0    NaN    33.90     19.39     10.5    0
3    135.0  36.83    29.00     13.18      2.5    1
4    136.5    NaN    46.86      8.68      0.3    1

[5 rows x 36 columns]


=== LAST 5 ROWS ===
      Unnamed: 0    age  gender_F  gender_M  bic_max  bic_mean  bic_min  \
3545        4425  45.84         0         1     31.0     28.37    23.25
3546        4426  42.69         0         1     30.0     25.71    21.00
3547        4428  56.10         1         0     25.0     23.29    21.00
3548        4429  87.51         1         0     34.0     28.38    22.00
3549        4430  21.19         1         0     26.0     20.44    15.00

      bilirubin  bp_max  bp_mean  ...  pot_mean  pot_min  sod_max  sod_mean  \
3545        0.3  150.29   139.20  ...      4.31     3.92    142.0    135.74
3546        0.2  241.00   158.57  ...      3.94     3.10    144.0    139.14
3547        NaN  130.12   122.43  ...      3.82     3.45    146.0    142.83
3548        NaN  122.94   102.48  ...      4.09     3.20    146.0    142.25
3549        0.2  123.58   115.72  ...      3.78     3.37    141.0    139.19

      sod_min   temp  wbc_max  wbc_mean  wbc_min  IHM
3545    129.0  38.63    16.70     13.27     10.3    0
3546    132.0    NaN    15.60      8.61      5.5    0
3547    138.0  39.85    19.65     14.81     11.8    1
3548    140.0    NaN    15.30     12.85     10.3    0
3549    137.0  37.47    18.50     14.24      9.2    0

[5 rows x 36 columns]


=== COLUMN NAMES ===
['Unnamed: 0', 'age', 'gender_F', 'gender_M', 'bic_max', 'bic_mean', 'bic_min', 'bilirubin', 'bp_max', 'bp_mean', 'bp_min', 'bun_max', 'bun_mean', 'bun_min', 'Days_in_uci', 'fio2', 'gcs_max', 'gcs_mean', 'gcs_min', 'hr_max', 'hr_mean', 'hr_min', 'max pao2', 'mean pao2', 'min pao2', 'pot_max', 'pot_mean', 'pot_min', 'sod_max', 'sod_mean', 'sod_min', 'temp', 'wbc_max', 'wbc_mean', 'wbc_min', 'IHM']

In [6]:
print("=== DATA TYPES ===")
print(df.dtypes)
print("\n")

print("=== BASIC INFO ===")
df.info()

=== DATA TYPES ===
Unnamed: 0       int64
age            float64
gender_F         int64
gender_M         int64
bic_max        float64
bic_mean       float64
bic_min        float64
bilirubin      float64
bp_max         float64
bp_mean        float64
bp_min         float64
bun_max        float64
bun_mean       float64
bun_min        float64
Days_in_uci    float64
fio2           float64
gcs_max        float64
gcs_mean       float64
gcs_min        float64
hr_max         float64
hr_mean        float64
hr_min         float64
max pao2       float64
mean pao2      float64
min pao2       float64
pot_max        float64
pot_mean       float64
pot_min        float64
sod_max        float64
sod_mean       float64
sod_min        float64
temp           float64
wbc_max        float64
wbc_mean       float64
wbc_min        float64
IHM              int64
dtype: object


=== BASIC INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3550 entries, 0 to 3549
Data columns (total 36 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3550 non-null   int64
 1   age          3550 non-null   float64
 2   gender_F     3550 non-null   int64
 3   gender_M     3550 non-null   int64
 4   bic_max      3550 non-null   float64
 5   bic_mean     3550 non-null   float64
 6   bic_min      3550 non-null   float64
 7   bilirubin    2893 non-null   float64
 8   bp_max       3550 non-null   float64
 9   bp_mean      3550 non-null   float64
 10  bp_min       3550 non-null   float64
 11  bun_max      3550 non-null   float64
 12  bun_mean     3550 non-null   float64
 13  bun_min      3550 non-null   float64
 14  Days_in_uci  3550 non-null   float64
 15  fio2         3152 non-null   float64
 16  gcs_max      3550 non-null   float64
 17  gcs_mean     3550 non-null   float64
 18  gcs_min      3550 non-null   float64
 19  hr_max       3550 non-null   float64
 20  hr_mean      3550 non-null   float64
 21  hr_min       3550 non-null   float64
 22  max pao2     3417 non-null   float64
 23  mean pao2    3417 non-null   float64
 24  min pao2     3417 non-null   float64
 25  pot_max      3550 non-null   float64
 26  pot_mean     3550 non-null   float64
 27  pot_min      3550 non-null   float64
 28  sod_max      3550 non-null   float64
 29  sod_mean     3550 non-null   float64
 30  sod_min      3550 non-null   float64
 31  temp         2325 non-null   float64
 32  wbc_max      3550 non-null   float64
 33  wbc_mean     3550 non-null   float64
 34  wbc_min      3550 non-null   float64
 35  IHM          3550 non-null   int64
dtypes: float64(32), int64(4)
memory usage: 998.6 KB

In [7]:
print("=== MISSING VALUES ===")
missing_data = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100
missing_info = pd.DataFrame({
    'Missing Count': missing_data,
    'Missing Percentage': missing_percent
})
print(missing_info[missing_info['Missing Count'] > 0])
print("\n")

print("=== TOTAL MISSING VALUES ===")
print(f"Total missing values in dataset: {df.isnull().sum().sum()}")

=== MISSING VALUES ===
           Missing Count  Missing Percentage
bilirubin            657           18.507042
fio2                 398           11.211268
max pao2             133            3.746479
mean pao2            133            3.746479
min pao2             133            3.746479
temp                1225           34.507042


=== TOTAL MISSING VALUES ===
Total missing values in dataset: 2679

In [8]:
print("=== DESCRIPTIVE STATISTICS FOR NUMERICAL VARIABLES ===")
print(df.describe())

=== DESCRIPTIVE STATISTICS FOR NUMERICAL VARIABLES ===
        Unnamed: 0          age     gender_F     gender_M      bic_max  \
count  3550.000000  3550.000000  3550.000000  3550.000000  3550.000000
mean   2220.038028    64.286620     0.424507     0.575493    30.055363
std    1279.998208    15.986639     0.494338     0.494338     5.032318
min       0.000000    16.900000     0.000000     0.000000    14.500000
25%    1108.250000    54.112500     0.000000     0.000000    27.000000
50%    2220.500000    66.920000     0.000000     1.000000    30.000000
75%    3335.750000    77.207500     1.000000     1.000000    33.000000
max    4430.000000    89.000000     1.000000     1.000000    50.000000

          bic_mean      bic_min    bilirubin       bp_max      bp_mean  ...  \
count  3550.000000  3550.000000  2893.000000  3550.000000  3550.000000  ...
mean     25.606231    20.895972     1.586049   140.153299   122.734980  ...
std       4.147980     4.388776     3.168970    18.630140    14.647909  ...
min      12.330000     5.000000     0.000000    90.790000    84.620000  ...
25%      23.125000    18.000000     0.400000   126.510000   111.875000  ...
50%      25.460000    21.000000     0.700000   140.155000   121.635000  ...
75%      27.850000    23.500000     1.300000   153.080000   132.740000  ...
max      44.690000    39.000000    29.500000   241.000000   182.930000  ...

          pot_mean      pot_min      sod_max     sod_mean      sod_min  \
count  3550.000000  3550.000000  3550.000000  3550.000000  3550.000000
mean      4.047318     3.490163   144.345806   139.628034   134.872775
std       0.302202     0.321318     4.770282     3.691264     4.356401
min       3.230000     2.170000   127.000000   118.980000   100.000000
25%       3.840000     3.300000   141.000000   137.392500   132.330000
50%       4.020000     3.500000   144.000000   139.750000   135.000000
75%       4.220000     3.700000   147.500000   142.010000   138.000000
max       5.920000     5.200000   172.430000   154.900000   149.330000

              temp      wbc_max     wbc_mean      wbc_min          IHM
count  2325.000000  3550.000000  3550.000000  3550.000000  3550.000000
mean     36.892133    18.824369    12.569597     8.219685     0.274366
std       1.006496    12.861885     9.247942     7.039966     0.446257
min      31.670000     0.100000     0.100000     0.050000     0.000000
25%      36.290000    13.000000     9.240000     5.800000     0.000000
50%      36.890000    16.615000    11.620000     7.600000     0.000000
75%      37.520000    22.100000    14.557500     9.900000     1.000000
max      41.300000   521.450000   448.400000   351.100000     1.000000

[8 rows x 36 columns]